{% from "tabs/macro.njk" import govukTabs %} {% extends "layout-full-width.html" %} {% set agent = true %} {% block page_title %} {{"app_title" | translate}} {% endblock %}{% block beforeContent %}{% set globalNavClasses = "active" %}{% include "includes/global-nav.html" %}{% endblock %}

{% block content %}
  {% set callerHtml %}
    {% include "versions/base/includes/caller.html" %}
  {% endset %}

  {% set deceasedTraceHtml %}
    {% include "versions/base/includes/deceased-trace.html" %}
  {% endset %}

  {% set deceasedDetailsHtml %}
    {% include "versions/hospital/includes/deceased-details-autocomplete.html" %}
  {% endset %}

  <div class="govuk-grid-row">
    <form method="post" action="../base/check">
      {% if startTab %}
        {% include "versions/base/includes/order/" + startTab + ".html" %}
      {% else %}
        {% include "versions/base/includes/order/details.html" %}
      {% endif %}
    </form>
  </div>
{% endblock %}