<h2 class="govuk-heading-m">{{"deceased_details_heading" | translate}}</h2>
<dl class="app-check-your-answers app-check-your-answers--long">
  {% if session['deceased-full-name'] %}
    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">
        {{ "full_name" | translate }}
      </dt>
      <dd class="app-check-your-answers__answer">
        {{session['deceased-full-name']}}
      </dd>
      <dd class="app-check-your-answers__change">
        <a href="new-notification/deceased-trace#deceased-full-name-group">
          {{ "change" | translate }}
          <span class="govuk-visually-hidden"> {{ "full_name" | translate }}</span>
        </a>
      </dd>
    </div>
  {% endif %}

  {% if (session['deceased-dob-day']) and (session['deceased-dob-month']) and (session['deceased-dob-year']) %}
    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">
        {{ "dob_title" | translate }}
      </dt>
      <dd class="app-check-your-answers__answer">
        {{session['deceased-dob-day']}}/{{session['deceased-dob-month']}}/{{session['deceased-dob-year']}}
      </dd>
      <dd class="app-check-your-answers__change">
        <a href="new-notification/deceased-trace#deceased-dob">
          {{ "change" | translate }}
          <span class="govuk-visually-hidden"> {{ "dob_title" | translate }}</span>
        </a>
      </dd>
    </div>
  {% endif %}

  {% if session['deceased-national-insurance'] %}
    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">
        {{ "national_insurance" | translate }}
      </dt>
      <dd class="app-check-your-answers__answer">
        {{session['deceased-national-insurance']}}
      </dd>
      <dd class="app-check-your-answers__change">
        <a href="new-notification/deceased-trace#deceased-national-insurance-group">
          {{ "change" | translate }}
          <span class="govuk-visually-hidden"> {{ "national_insurance" | translate }}</span>
        </a>
      </dd>
    </div>
  {% endif %}

  {% if session['deceased-marital-status'] %}
    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">
        {{ "marital_status" | translate }}
      </dt>
      <dd class="app-check-your-answers__answer">
        {{session['deceased-marital-status']}}
      </dd>
      <dd class="app-check-your-answers__change">
        <a href="new-notification/deceased-trace#deceased-marital-status-group">
          {{ "change" | translate }}
          <span class="govuk-visually-hidden"> {{ "marital_status" | translate }}</span>
        </a>
      </dd>
    </div>
  {% endif %}

  {% if (session['deceased-dod-day']) and (session['deceased-dod-month']) and (session['deceased-dod-year']) %}
    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">
        {{ "dod_title" | translate }}
      </dt>
      <dd class="app-check-your-answers__answer">
        {{session['deceased-dod-day']}}/{{session['deceased-dod-month']}}/{{session['deceased-dod-year']}}
      </dd>
      <dd class="app-check-your-answers__change">
        <a href="new-notification/deceased-details#deceased-dod">
          {{ "change" | translate }}
          <span class="govuk-visually-hidden"> {{ "dod_title" | translate }}</span>
        </a>
      </dd>
    </div>
  {% endif %}

   {%
    if (session['deceased-line-1']) or (session['deceased-line-2'])
    or (session['deceased-town-city']) or (session['deceased-county'])
    or (session['postcode'])
  %}
    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">
        {{ "address" | translate }}
      </dt>
      <dd class="app-check-your-answers__answer">
        {{session['deceased-line-1']}}
        <br /> {{session['deceased-line-2']}}
        <br /> {{session['deceased-town-city']}}
        <br /> {{session['deceased-county']}}
        <br /> {{session['deceased-postcode']}}
      </dd>
      <dd class="app-check-your-answers__change">
        <a href="#">
          {{ "change" | translate }}
          <span class="govuk-visually-hidden"> {{ "address" | translate }}</span>
        </a>
      </dd>
    </div>
  {% endif %}

  {% if session['deceased-passport'] %}
    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">
        {{ "passport" | translate }}
      </dt>
      <dd class="app-check-your-answers__answer">
        {{session['deceased-passport']}}
      </dd>
      <dd class="app-check-your-answers__change">
        <a href="new-notification/deceased-details#deceased-passport-group">
          {{ "change" | translate }}
          <span class="govuk-visually-hidden"> {{ "passport" | translate }}</span>
        </a>
      </dd>
    </div>
  {% endif %}

  {% if session['hospital-location-autocomplete'] or session['hospital-location'] %}
    {% set location = session['hospital-location-autocomplete'] if session['hospital-location-autocomplete'] else session['hospital-location'] %}
    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">
        {{ "hospital_location" | translate }}
      </dt>
      <dd class="app-check-your-answers__answer">
        {{location}}
      </dd>
      <dd class="app-check-your-answers__change">
        <a href="new-notification/deceased-details#hospital-location-group">
          {{ "change" | translate }}
          <span class="govuk-visually-hidden"> {{ "hospital_location" | translate }}</span>
        </a>
      </dd>
    </div>
  {% endif %}
</dl>