{# date 05-07-2018 #}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl class="govuk-list govuk-list--description">
      <dt class="govuk-heading-s">Date of Release</dt>
      <dd>July 2018</dd>
    </dl>
  </div>
  <div class="govuk-grid-column-one-third">
    <dl class="govuk-list govuk-list--description">
      <dt class="govuk-heading-s">Version</dt>
      <dd>Basic</dd>
    </dl>
  </div>
  <div class="govuk-grid-column-one-third">
    <dl class="govuk-list govuk-list--description">
      <dt class="govuk-heading-s">Related Stories</dt>
      <dd>-</dd>
    </dl>
  </div>
</div>
<h3 class="govuk-heading-s">Overview</h3>
<p>The most basic form of the prototype. It includes the ability to fill in all tabs, view them on a check answers page, change answers, submit and confirm an application, search for existing notifications and view existing notifications.</p>

<h3 class="govuk-heading-s">Hypotheses</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>A way to track the simplest prototype</li>
</ul>

<h3 class="govuk-heading-s">Research Notes</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>Not yet tested</li>
</ul>

<h3 class="govuk-heading-s">Links</h3>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="/versions/base/new-notification">New notification</a></li>
  <li><a href="/versions/base/search-results?search-national-insurance=IB987753Y">Search notification</a></li>
  <li><a href="/versions/base/check">Check answers</a><br /><span class="govuk-!-font-size-14">(note, you must complete the new notification form in order to view data)</span></li>
  <li><a href="/versions/base/complete">Complete application</a></li>
  <li><a href="/versions/base/entry/IB987753Y">Search result</a></li>
</ul>

<a href="/versions/base/new-notification" class="govuk-button">Launch simple prototype</a>