{% extends "layout-full-width.html" %}
{%- from "tag/macro.njk" import govukTag -%}

{% block pageTitle %}
  Tell Us About a Death Prototype Kit
{% endblock %}

{% block beforeContent %}
  <div class="homepage-header">
    <div class="govuk-width-container">
      <h1 class="govuk-heading-xl">
        Tell us about a death
        <span class="govuk-caption-xl">Prototypes</span>
      </h1>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <article class="latest-version">
        <section>
          {{ govukTag({
            text: "Most Recent",
            classes: "most-recent-tag"
          }) }}
          {{ latestPrototypes[0] | safe }}
        </section>
      </article>
    </div>
  </div>

  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">Prototypes</span>
    </summary>
    {% for item in latestPrototypes %}
      {% if loop.index != 1 %}
        <div class="govuk-grid-row prototype-version">
          <div class="govuk-grid-column-two-thirds">
            <article class="previous-version">
              <section>
                {{ item | safe }}
              </section>
            </article>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </details>


{% endblock %}


